@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
}

@font-face {
  src: url(font/Gilgan.otf);
  font-family: Gilgan;
}

.gilgan {
  font-family: "Gilgan";
}

:root {
  font-family: gilgan, "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
}
